<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} - Command Line Zen</title>
  <meta name="author" content="Rufus Pollock">

  <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="all">
</head>
<body>
  <a href="http://github.com/rgrp/command-line-zen"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  <div class="container">
    <h1>
      Zen of the Command Line
      <small>by <a href="http://rufuspollock.org/">Rufus Pollock</a></small>
    </h1>

    <div class="description">
      <p><strong>Command line tips and tricks</strong>. Contributions are welcome: please just submit a pull request.</p>
    </div>

    {{content}}

    <div class="footer">
      Copy freely (public domain)
    </div>
  </div>
</body>
</html>
